<h2>Projects</h2>

<select class="form-control" (change)="onChange($event.target.value)">
  <option value="allProjects" selected="selected">All Projects</option>
  <option value="heavyProject">Heavy Project</option>
  <option value="lightProject">Light Project</option>
</select>
<br>
<div *ngFor="let project of projects | async | sortByGoal:filterBySortByGoalPipe" class="panel panel-primary">
  <div class="panel-body">
    <h3 class="details" (click)="goToDetailPage(project)">{{project.name}}</h3>
    <div *ngIf="currentRoute === '/admin'">
      <p>{{project.description}}</p>
      <p>{{project.goal}}</p>
      <hr>
      <app-edit-project [selectedProject]="project"></app-edit-project>
    </div>
  </div>
</div>
<br>
<br>
<br>
