/* You can add global styles to this file, and also import other style files */
img {
  margin-top: 5px;
}

.details:hover {
  cursor: pointer;
  text-shadow: 1px 1px 3px grey;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #222;
  padding: 15px;
}

.footer-tab {
  color: #9b9d9d;
}

.footer-tab:hover {
  text-decoration: none;
  color: white;
}
